<!--stylists.vtl-->

#if ($stylists.size() >= 1)
  <h2>Current Stylists</h2>
  #foreach ($stylist in $stylists)
    <h3><a href="/stylists/$stylist.getId()">$stylist.getName()</a></h3>
  #end
#else
  <h2>No stylists.</h2>
#end

<a href="/stylists/new"><button type="button" class="btn">Add Stylist</button></a>
